<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.StudentMapper">

	<select id="selectTestListCnt"
			resultType="int"
			parameterType="java.util.Map">
			
			SELECT COUNT(*)
			FROM test t INNER JOIN teacher teacher ON t.teacher_no = teacher.teacher_no
			<where>
				<choose>
					<when test="searchCategory == 'name'">
						<if test="searchWord != null and searchWord != ''">
							teacher.teacher_name LIKE CONCAT('%',#{searchWord},'%')
						</if>
					</when>
					<when test="searchCategory == 'title'">
						<if test="searchWord != null and searchWord != ''">
							t.test_title LIKE CONCAT('%',#{searchWord},'%')
						</if>
					</when>
					<otherwise>
						<if test="searchWord != null and searchWord != ''">
							teacher.teacher_name LIKE CONCAT('%',#{searchWord},'%') OR t.test_title LIKE CONCAT('%',#{searchWord},'%')
						</if>
					</otherwise>
				</choose>
			</where>
	</select>

	<select id="selectTestList"
			resultType="java.util.Map"
			parameterType="java.util.Map">
	
			SELECT
				t.test_no testNo
				, t.test_title testTitle
				, t.test_date testDate
				, teacher.teacher_name teacherName
			FROM test t INNER JOIN teacher teacher ON t.teacher_no = teacher.teacher_no
			<where>
				<choose>
					<when test="searchCategory == 'name'">
						<if test="searchWord != null and searchWord != ''">
							teacher.teacher_name LIKE CONCAT('%',#{searchWord},'%')
						</if>
					</when>
					<when test="searchCategory == 'title'">
						<if test="searchWord != null and searchWord != ''">
							t.test_title LIKE CONCAT('%',#{searchWord},'%')
						</if>
					</when>
					<otherwise>
						<if test="searchWord != null and searchWord != ''">
							teacher.teacher_name LIKE CONCAT('%',#{searchWord},'%') OR t.test_title LIKE CONCAT('%',#{searchWord},'%')
						</if>
					</otherwise>
				</choose>
			</where>
			ORDER BY test_date DESC
			LIMIT ${beginRow}, ${rowPerPage}
	</select>
	
	<update id="updateStudentPw"
			parameterType="java.util.Map">
			
			UPDATE student
			SET student_pw = PASSWORD(#{newPw})
			WHERE student_no = #{studentNo} AND student_pw = PASSWORD(#{oldPw})
	</update>
	
	<select id="login"
			resultType="goodee.gdj58.online.vo.Student"
			parameterType="goodee.gdj58.online.vo.Student">
	
			SELECT
				student_no studentNo
				, student_id studentId
				, student_name studentName
			FROM student
			WHERE student_id = #{studentId} AND student_pw = PASSWORD(#{studentPw})
	</select>
	
	<delete id="deleteStudent"
			parameterType="int">
			
			DELETE
			FROM student
			WHERE student_no = #{studentNo}
	</delete>
	
	<insert id="insertStudent"
			parameterType="goodee.gdj58.online.vo.Student">
			
			INSERT INTO student (
				student_id
				, student_pw
				, student_name
			) VALUES (
				#{studentId}
				, PASSWORD(#{studentPw})
				, #{studentName}
			)
	</insert>
	
	<select id="selectStudentListCnt"
			resultType="int"
			parameterType="java.util.Map">
				
			SELECT
				COUNT(*)
			FROM student
			<where>
				<choose>
					<when test="searchCategory == 'name'">
						<if test="searchWord != null and searchWord !=''">
							student_name LIKE CONCAT('%',#{searchWord},'%')
						</if>
					</when>
					<when test="searchCategory == 'all'">
						<if test="searchWord != null and searchWord !=''">
							student_Id LIKE CONCAT('%',#{searchWord},'%') OR student_name LIKE CONCAT('%',#{searchWord},'%')
						</if>
					</when>
					<otherwise>
						<if test="searchWord != null and searchWord !=''">
							student_Id LIKE CONCAT('%',#{searchWord},'%')
						</if>
					</otherwise>
				</choose>
			</where>
	</select>
	
	<select id="selectStudentList"
			resultType="goodee.gdj58.online.vo.Student"
			parameterType="java.util.Map">
						
			SELECT
				student_no studentNo
				, student_id studentId
				, student_name studentName
			FROM student
			<where>
				<choose>
					<when test="searchCategory == 'name'">
						<if test="searchWord != null and searchWord !=''">
							student_name LIKE CONCAT('%',#{searchWord},'%')
						</if>
					</when>
					<when test="searchCategory == 'all'">
						<if test="searchWord != null and searchWord !=''">
							student_Id LIKE CONCAT('%',#{searchWord},'%') OR student_name LIKE CONCAT('%',#{searchWord},'%')
						</if>
					</when>
					<otherwise>
						<if test="searchWord != null and searchWord !=''">
							student_Id LIKE CONCAT('%',#{searchWord},'%')
						</if>
					</otherwise>
				</choose>
			</where>
			ORDER BY student_no DESC
			LIMIT #{beginRow}, #{rowPerPage}
	</select>
</mapper>